<div style="width: 100%;">

    <div class=" d-flex align-items-center p-2" style="height: 70px;">
      チャットのルームタイトル 
    </div>

  <div class="overflow-auto" style="height: calc(100% - 200px)">
    <div class="message">
      <div class="upper-message">
        <div class="message-user">
          <%# <%= message.user.name %>
        </div>
        <div class="message-date">
          <%# <%= l message.created_at %>
        </div>
      </div>
      <div class="lower-message">
        <div class="message-content">
          <%# <%= message.text %>
        </div>
        <%# <%= image_tag message.image.variant(resize: '500x500'), class: 'message-image' if message.image.attached? %>
      </div>
    </div>
  </div>
  
  <hr class="featurette-divider">
  <div class="align-items-center d-flex justify-content-end mb-4">
    <%= form_with local: true do |f| %>
      <div class="d-flex justify-content-end">
        <div class="col"  style="width: 100%">
          <%= f.text_area :text, calss:"form-control", size: "70×10"%>
        </div>

        <div class="col">
          <%= f.file_field :image %>
        </div>

        <div class="col">
          <%= f.submit "投稿", class: "mb-3 btn btn-primary btn-sm mr-5"%>
        </div>
      </div>
    <% end %>
  </div>
</div>