<%= render 'shared/header'%>
<body class="text-center">

<div class="pt-5">
<div class="container shadow p-3 bg-white rounded" style="width: 50%;">
  <h1 class="h3 m-3 font-weight-normal pt-4">ユーザー情報編集</h1>

  <%= form_with model: @user, class: 'registration-main', local: true do |f| %>
  <%# <%= render "devise/shared/error_messages", resource: resource %>

    <div class="input-group mb-3">
      <div class="input-group mb-2 ml-3 d-flex align-items-center">
        画像
      </div>
      <div class="input-group mb-2 ml-3 image">
        <%= f.file_field :image %>
      </div>
      <img id="img1" class="card-img-top" >
    </div>

    <div class="input-group mb-3">
      <div class="input-group mb-2 ml-3 d-flex align-items-center">
        ニックネーム
      </div>
      <div class="col align-self-center mb-2">
        <%= f.text_field :nickname, autofocus: true, autocomplete: "nickname", class:"form-control", placeholder: "nickname(必須)"  %>
      </div>
    </div>

    <div class="input-group mb-3">
      <div class="input-group mb-2 ml-3 d-flex align-items-center">
        メールアドレス
      </div>
      <div class="col align-self-center mb-2">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control", placeholder: "email(必須)"  %>
      </div>
    </div>

    <div class="input-group mb-3">
      <div class="input-group mb-2 ml-3 d-flex align-items-center">
        自己紹介
      </div>
      <div class="col align-self-center mb-2">
        <%= f.text_area :introduction, autofocus: true, autocomplete: "introduction", class:"form-control", placeholder: "introduction", :size=>"60x10"   %>
      </div>
    </div>

    <div class="input-group mb-3">
      <div class="input-group mb-2 ml-3 d-flex align-items-center">
        仕事
      </div>
      <div class="input-group mb-2 ml-3  d-flex align-items-center">
        <%= f.collection_select(:job_id, Job.all, :id, :name, {})  %>
      </div>
    </div>

    <div class="input-group mb-3">
      <div class="input-group mb-2 ml-3 d-flex align-items-center">
        趣味
      </div>
      <div class="col align-self-center mb-2">
        <%= f.text_field :hobby, autofocus: true, class:"form-control", placeholder: "hobby"  %>
      </div>
    </div>

    <div class="input-group mb-3">
      <div class="input-group mb-2 ml-3 d-flex align-items-center">
        居住地
      </div>
      <div class="input-group mb-2 ml-3  d-flex align-items-center">
        <%= f.collection_select(:prefectures_id, Prefectures.all, :id, :name, {}) %>
      </div>
    </div>

    <div class="input-group mb-3">
      <div class="input-group mb-2 ml-3 d-flex align-items-center">
        誕生日
      </div>
      <div class="input-group mb-2 ml-3  d-flex align-items-center">
        <%= f.date_select :birthday, use_month_numbers: true, start_year: 1950, end_year: (Time.now.year - 10), default: Date.new(2000,01,01)  %>
      </div>
    </div>

    <div class="input-group mb-3">
      <div class="input-group mb-2 ml-3 d-flex align-items-center">
        性別
      </div>
      <div class="input-group mb-2 ml-3  d-flex align-items-center">
        <%= f.collection_select(:gender_id, Gender.all, :id, :name, {}) %>
      </div>
    </div>

  <div class="actions">
    <%= f.submit "編集", class: "btn btn-primary btn-lg"%>
  </div>
  <% end %>

 </div>
</div>
</body>
 <%= render 'shared/footer'%>