<%= render 'shared/header'%>
  <body class="text-center">

  <div class="pt-5">
    <div class="container shadow p-3 bg-white rounded" style="width: 50%;">
      <% if current_user.id == @user.id %>
        <h1 class="h3 m-3 font-weight-normal pt-4">マイページ</h1>
      <% else %>
        <h1 class="h3 m-3 font-weight-normal pt-4"><%= @user.nickname %>さんの詳細</h1>
      <% end %>

      <div class="card" style="width: 100%;">
        <%= image_tag @user.image, class:"card-img-top mb-4" if @user.image.attached? %>
        <%= image_tag "image.png", class:"card-img-top mb-4" unless @user.image.attached? %>
        <ul class="list-group list-group-flush text-left">
          <li class="list-group-item p-3">ニックネーム:<%= @user.nickname %></li>
          <li class="list-group-item p-3">自己紹介:<%= @user.introduction %></li>
          <li class="list-group-item p-3">誕生日:<%= @user.birthday %></li>
          <li class="list-group-item p-3">趣味:<%= @user.hobby %></li>
          <li class="list-group-item p-3">email:<%= @user.email %></li>
          <li class="list-group-item p-3">性別:<%= @user.gender.name %></li>
          <li class="list-group-item p-3">仕事:<%= @user.job.name %></li>
          <li class="list-group-item p-3">居住地:<%= @user.prefectures.name %></li>
        </ul>
        <div class="card-body">
          <% if current_user.id == @user.id %>
            <%=link_to '編集する', edit_user_path(current_user.id), class:"btn btn-primary btn-lg"%>
          <% end %>
        </div>
      </div>
    </div>

    <%# 参加している投稿一覧 %>
    <% if current_user.id == @user.id %>
      <div class="p-4 text-center m-4">
        <h1 class="text-success">参加一覧</h1>
      </div>
      <div class="container">
        <div class="row">
          <% @posts.each do |post| %>
            <div class="col-md-4 mb-5">
              <div class="card" style="display: none">
                <%= image_tag post.post.image, class:"card-img-top" %>
                <div class="card-body text-center">
                  <h4 class="card-title"><%=post.post.title %></h4>
                  <p class="card-text"><%=post.post.description %></p>
                  <%= link_to 'チャットへ', chat_post_path(post.post.id), class:'btn btn-primary' %>
                </div>
              </div>
            </div>
          <%end%>
        </div>
      </div> 
    <%end%>

    <%# いいねした投稿一覧 %>
    <% if current_user.id == @user.id %>
      <div class="p-4 text-center m-4">
        <h1 class="text-success">いいね一覧</h1>
      </div>
      <div class="container">
        <div class="row">
          <% @favorites.each do |favorite| %>
            <div class="col-md-4 mb-5">
              <div class="card" style="display: none">
                <%= image_tag favorite.post.image, class:"card-img-top" %>
                <div class="card-body text-center">
                  <h4 class="card-title"><%=favorite.post.title %></h4>
                  <p class="card-text"><%=favorite.post.description %></p>
                  <%= link_to '詳細へ', post_path(favorite.post.id), class:'btn btn-primary' %>
                </div>
              </div>
            </div>
          <%end%>
        </div>
      </div> 
    <%end%>


  </body>

 <%= render 'shared/footer'%>