<div class="container">
  <div class="row">
    <% @posts.each do |post| %>
      <div class="col-md-4">
        <div class="card mb-4 shadow-sm rounded">
          <div class="card" style="display: none">
            <% if post.image.present? %>
              <%= image_tag post.image, class:"card-img-top rounded", width:"100%", height:"210"%>
            <% else %>
              <%= image_tag "image.png", class:"card-img-top mb-4" unless @user.image.attached? %>
            <% end %>
            <div class="card-body text-center">
              <h4 class="card-title"><%=post.title %></h4>
              <p class="card-text"><%=post.description %></p>
              <%= link_to '詳細を表示する', post_path(post.id), class:'btn btn-primary' %>
            </div>
          </div>
        </div>
      </div>
    <%end%>
  </div>
</div> 
<div class="d-flex justify-content-center">
  <%= paginate @posts %>
</div>