<%= render 'shared/header'%>

<div class="d-flex">
  <div class="border">
    <div style="width: 230px;">
      <div class="text-center">
        <div class=" d-flex align-items-center p-2" style="height: 70px;">
          <%= "#{current_user.nickname}さんのチャット"%>
        </div>
        <hr class="featurette-divider">
      </div>
      <div class="rooms">
        <div class="p-3">
          <%= @post.title %>
        </div>
        <hr class="featurette-divider">
      </div>
    </div>
  </div>

  <div style="width: 100%;">
    <div class=" d-flex align-items-center p-2" style="height: 70px;">
      参加者一覧:
      <% @users.each do |user| %>
        <%= link_to "#{user.user.nickname},", user_path(user.user.id), class:"ml-3" %> 
      <% end %>
      <%= link_to '参加をやめる', chat_destroy_post_path, class:'m-3 p-2 btn btn-primary'%>
    </div>
    <hr class="featurette-divider">

    <div class="overflow-scroll" style="height: 100%">
      <% @messages.each do |message| %>
        <% if message.user == current_user %>
          <div class="border mb-3 ml-3 mr-3 p-2 text-right">
            <div class="mb-2">
              <%= message.created_at %>
              <%= link_to '削除する', post_message_path(@post.id, message.id), method: :delete, class:'btn btn-outline-danger btn-sm ml-3'%>
            </div>
            <div class="">
              <%= message.text %>
              <%= image_tag message.image.variant(resize: '500x500'), class: 'message-image' if message.image.attached? %>
            </div>
          </div>
        <% else %>
          <div class="border mb-3 ml-3 mr-3 p-2">
            <div class="mb-2">
              <%= link_to "ユーザー：#{message.user.nickname}さん", user_path(message.user.id)%>
              <%= message.created_at %>
            </div>
            <div class="">
              <%= message.text %>
              <%= image_tag message.image.variant(resize: '500x500'), class: 'message-image' if message.image.attached? %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
    
    
    <div class="align-items-center d-flex justify-content-end p-3 fixed-bottom bg-white">
    <hr class="featurette-divider">
      <h5 class="mr-5"><%=link_to "トップへ戻る", root_path%></h5>
      <%= form_with model: [@post, @message], html: {class: "form"}, local: true do |f| %>
        <div class="d-flex justify-content-end ml-4">
          <div class="col align-self-center"  style="width: 100%">
            <%= f.text_area :text, calss:"form-control", size: "70×10" %>
          </div>

          <div class="col align-self-center">
            <%= f.file_field :image %>
          </div>

          <div class="col align-self-center">
            <%= f.submit "投稿", class: "mb-3 btn btn-primary btn-sm mr-5" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

