<%= render 'shared/header'%>

<div class="d-flex">
  <div style="width: 300px;">
    <div class="text-center">
      <div class=" d-flex align-items-center p-2" style="height: 70px;">
        <%= "#{current_user.nickname}さんのチャット"%>
      </div>
      <hr class="featurette-divider">
    </div>
    <div class="rooms">
      <div class="p-3">
        <%= link_to "#{@post.title}", root_path %>
        
      </div>
      <hr class="featurette-divider">
    </div>
  </div>

  <div style="width: 100%;">

    <div class=" d-flex align-items-center p-2" style="height: 70px;">
      ユーザー一覧
    </div>
    <hr class="featurette-divider">

  <div class="overflow-auto" style="height: calc(100% - 200px)">
      <div class="upper-message">
        <% @messages.each do |message| %>
          <div class="message-user">
            <%= message.user.nickname %>
          </div>
          <div class="message-date">
            <%= message.created_at %>
          </div>
          <div class="message-content">
            <%= message.text %>
          </div>
          <div class="message-content">
          <%= image_tag message.image.variant(resize: '500x500'), class: 'message-image' if message.image.attached? %>
          </div>
        <% end %>
      </div>
  </div>
  
  <hr class="featurette-divider">
  <div class="align-items-center d-flex justify-content-end mb-4">
    <%= form_with model: [@post, @message], html: {class: "form"}, local: true do |f| %>
      <div class="d-flex justify-content-end">
        <div class="col"  style="width: 100%">
          <%= f.text_area :text, calss:"form-control", size: "70×10" %>
        </div>

        <div class="col">
          <%= f.file_field :image %>
        </div>

        <div class="col">
          <%= f.submit "投稿", class: "mb-3 btn btn-primary btn-sm mr-5" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
</div>

