<%= render 'shared/header'%>

<%# アイキャッチ画像 %>
<div id="carouselExampleCaptions" class="carousel slide carousel-fade" data-interval=3000 data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <%= image_tag "Collage_Fotor.jpg", class:"d-block w-100" %>
      <div class="carousel-caption d-none d-md-block">
        <h3>さあ、世界を広げよう</h3>
        <%=link_to 'ログイン', new_user_session_path, class:"btn btn-lg btn-primary mb-4" %>
        <p>  </p>
      </div>
    </div>
    <%# <div class="carousel-item"> %>
      <%# <%= image_tag "Collage_Fotor.jpg", class:"d-block w-100" %> 
      <%# <div class="carousel-caption d-none d-md-block"> %>
        <%# <h3>さあ、世界を広げよう</h3> %>
        <%# <p>ログイン</p> %>
        <%# <%=link_to 'ログイン', new_user_session_path %> 
      <%# </div> %>
    <%# </div> %>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<%# 提案内容一覧 %>
  <div class="p-4 text-center">
    <h1 class="text-success ">Waiting for sharing</h1>
    <h3 class="pt-5">検索結果一覧</h3>
  </div>

<%# 投稿検索フォーム %>
  <div class="m-3 text-center">
    <h3 class="mb-3">投稿検索</h3>
    <%= search_form_for @search, url: posts_search_path do |f| %>
      <%= f.label :prefectures_id_eq, '都道府県', class:"mb-3" %>
      <%= f.collection_select(:prefectures_id, Prefectures.all, :id, :name, {}) %>
      <br>
      <%= f.submit '検索'%>
    <% end %>
  </div>

<%# 検索投稿一覧 %>
<%= render 'shared/post_index' %>

<%= render 'shared/footer'%>